/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #0A5115;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #424242;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  select {
    background-color: white;
    color: #424242;
  }

  .inp {
    width: 100%; 
  }

  .sub_button {
    width: 100%;
    margin-top: 10px
  }


@media (prefers-color-scheme: dark) {
    input[type=text], select, textarea {
        border: 1px solid #ccc; /* Gray border */
        background-color: #424242;
        color:#d0d0d0;
    }

  input[type=submit] {
    background-color: #0A5115;
    color:#d0d0d0;
  }

  input[type=submit]:hover {
    background-color: #424242;
  }

  .container {
    background-color: #1d1d1d;
    color:#d0d0d0;
  }

  select {
    background-color: #3e413d;
    color:#d0d0d0;
  }
}