
/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding:0;
    color: #333;
    text-align: center;
    background-color: #fdeed4;
}

header {
    background-color: #669A6A;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    text-decoration: none; 
    display: inline-block; /* Allows setting width/height */
    padding: 10px 20px;    /* Adjust padding as desired */
    border: none;          /* Remove default link border */
    margin: 5px;           /* Add some spacing between buttons */
    border-radius: 5px;    /* Create rounded corners */
    background-color: #0A5115; /* Example button color */
    color: white;          /* Example text color */
    cursor: pointer;       /* Indicate clickable element */
    transition: background-color 0.3s ease; /* Add a transition effect */
}

header nav ul li a:hover { 
    background-color: #424242; /* Slightly darker hover color */
}


header select {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-decoration: none; 
    display: inline-block; /* Allows setting width/height */
    padding: 10px 20px;    /* Adjust padding as desired */
    border: none;          /* Remove default link border */
    margin: 5px;           /* Add some spacing between buttons */
    margin-right: 20px;
    border-radius: 5px;    /* Create rounded corners */
    background-color: #0A5115; /* Example button color */
    color: white;          /* Example text color */
    cursor: pointer;       /* Indicate clickable element */
    transition: background-color 0.3s ease; /* Add a transition effect */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo img {
    vertical-align: middle;
    max-width: 90px;
    margin-left: 70px;
    display:flex; /* Use flexbox for alignment */
    align-items: flex-end; /* Vertically center logo and name */
}

/* Hero Section */
.hero {
    background-image: url('hero-background.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px 20px;
    color: black;
}

.search-button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Featured Listings */
.featured-listings {
    padding: 40px;
}

.listings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 20px;
}

.property-card.js_available{
    display: none;
    border: 5px solid green;
    padding: 15px;
    text-align: center;
    background-color: rgb(244, 255, 244);
}

.property-card {
    display: none;
    border: 3px solid #ddd;
    padding: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.property-card.show {
    display: block;
}

.property-card img {
    max-width: 100%;
    height: auto;
}

.property-card.js_available .available { 
   color: green; 
   font-weight: bold;
}

.price {
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #c5c7c4;
}
.modal {
    display: none;   /* Hidden by default */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;     
    height: 100%;    
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Position it in the center */
    padding: 20px;
    width: 400px;    
}

.close-button {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

#image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#image-container img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

button {
    background-color: #165f00; 
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

select {
    background-color: #9ca59d; /* Match button background */
    color: white;
    padding: 10px;            /* Similar padding to buttons */
    margin: 10px 0;       
    border: none;             /* Remove default border */
    border-radius: 5px;       /* Match button rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a transition effect */
}

select:hover {
    background-color: #3e413d; /* Match button hover color */
} 

.photo_button {
    background-color: #9ca59d; /* Match button background */
    color: white;
    padding: 10px;            /* Similar padding to buttons */
    border-radius: 5px;       /* Match button rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a transition effect */
    text-decoration: none;
}

.buffer {
    margin-bottom: 30px;
}

.photo_button:hover {
    background-color: #3e413d; /* Match button hover color */
} 

h3.street {
    margin-bottom: 0;  /* Removes the bottom margin on the first header */
}

h3.city {
    margin-top: 0;  /* Removes the bottom margin on the first header */
}

span.beds {
    font-weight: bold;
}

span.baths {
    font-weight: bold;
}

p.available {
    font-weight: bold;
}
p.price {
    padding-bottom: 10px;
}

span.between {
    padding-right: 0px;
}

  .swiper {
    width: 85%;
    height: 100%;
    margin-bottom: 30px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #716e6e;
    display: flex;
    justify-content: center;
    align-items: center;
   }

  .swiper-slide img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.room_button {
    background-color: #9ca59d; /* Match button background */
    color: white;
    padding: 10px;            /* Similar padding to buttons */
    border-radius: 5px;       /* Match button rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a transition effect */
    text-decoration: none;
}

.room_button:hover {
    background-color: #3e413d; /* Match button hover color */
} 
.leaflet-control-attribution {
    display: none;
}

main {
    background-color: #fdeed4;
}

.logo-name {
    text-decoration: none; 
    font-size: 25px;
    font-weight: bold;
    /* text-align: center; */
    text-decoration: none; 
    display: inline-block; 
    color: #0A5115; /* Example: Dark Green Color */
    margin-left: 30px
}

@media (prefers-color-scheme: dark) {

    header {
        background-color:#1d1d1d;
    }
    main {
        background-color:#2e2e2e;
    }
    .hero {
        color:#d0d0d0
    }
    img {
        filter: brightness(.8) contrast(1.2);
    }
    .hd {
        color:#d0d0d0
    }
    footer {
        background-color:#1d1d1d;
        color:#d0d0d0
    }
    header nav ul li a {
        color: #d0d0d0;
    }

    .property-card {
        background-color:#1d1d1d;
        color: #d0d0d0;
        border: 3px solid #d0d0d0;
    }

    .property-card.js_available{
        background-color:#222720;
        color: #d0d0d0
    }
    .photo_button {
        color:#d0d0d0;
        background-color: #3e413d; 
    }
    .photo_button:hover {
        background-color: #9ca59d; 
    }
    select {
        color:#d0d0d0;
        background-color: #3e413d; 
    }
    select:hover {
        background-color: #9ca59d; 
    }
    #redirect-dropdown {
        color:#d0d0d0;
    }
    button {
        background-color: rgb(4, 104, 42);
        color:#d0d0d0
    }
    .logo-name {
        color:rgb(4, 104, 42);
    }
    #address {
        color:#d0d0d0
    }
    body {
        background-color: #2e2e2e;
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .logo img {
        vertical-align: middle;
        max-width: 45px;
        margin-left: 35px;
        display:flex; /* Use flexbox for alignment */
        align-items: flex-end; /* Vertically center logo and name */
    }
    .logo-name {
        text-decoration: none; 
        font-size: 17px;
        font-weight: bold;
        /* text-align: center; */
        text-decoration: none; 
        display: inline-block; 
    }
    .logo-container {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;    /* Center items horizontally */
        text-decoration: none;
      }
    header nav ul li a {
        text-decoration: none; 
        display: inline-block; /* Allows setting width/height */
        padding: 5px 5px;    /* Adjust padding as desired */
    }
    header {
        padding: 0px 0;
    }
    header nav ul select {
        padding: 5px 5px;    /* Adjust padding as desired */
    }
    button {
        background-color: #0A5115; /* Example button color */
        padding: 5px 10px;    /* Adjust padding as desired */
        margin-bottom: 15px;
        font-size: 16px;
    }
    select {
        padding: 5px 5px;    /* Adjust padding as desired */
        font-size: 16px;
    }
    .hd {
        margin-top:-25px;
        margin-bottom: 5px;
    }
}